body{
    background: #f2f2f2;
}

header{
    background: #011960;
}

main{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 210mm;
    height: 297mm;
    background: white;
}

.container{
    border : 2px solid magenta;
}


#intitule{
    background: #d4e1ff;
}